// Define fonts for body and headers
$body-font: "Panamera-Regular", "sans-serif";
$headers-font: "Panamera-Regular", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
    font-family: "Panamera-Regular";
    src: font-url('Panamera-Regular.otf');
}

@font-face {
  font-family: "Panamera-Light";
  src: font-url('Panamera-Light.otf');
}
