.banner-analyses {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding-top: 20px;
  background-color: white;
  min-height: 200px;
}
