.banner-analyses {
  color: white;
  text-align: center;
  min-height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.resultat p {
  font-size: 300px;
}

.score-image-divide {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: cover !important;
  background: no-repeat center center;
  color: black;
  .h1 {
    font-size: 75px;
    font-weight: bold;
  }
}

.score-image {
  font-size: 24px;
  text-align: center;
  color: #5f6265;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.analyses-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 100px;
  p {
    font-size: 24px;
    margin: 0 0 0 0;
  }
}
pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;}

code {
font-family: Courier, 'New Courier', monospace;
font-size: 12px;}

#codeStyler {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1em 0;}

.computerGreen {
background-color: #000000;
color: green;}
