.font {
  font-family: 'Panamera-Regular', sans-serif;
  font-size: 14px;
  h1 {
  font-family: 'Panamera-Regular', sans-serif;
  font-size: 30px;
  }

  h3 {
    font-family: 'Panamera-Regular', sans-serif;
    font-size: 15px;
  }
}

