// Specific CSS for your home-page



.banner_customer_interview_text {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.54);
  font-style: italic;
  font-family: 'Raleway', sans-serif;

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    min-height: 160px;
  }
}

.identity {
  display: flex;
  flex-direction: row;
}
