// Specific CSS for your home-pag

.slogan  {
  font-size: 25px;
  color: #5e6366;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.titre-temoignages {
  color: #5f6265;
}

.banner {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-landing {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h3 {
  font-size: 31px;
  color: white;
}
.banner-content h4 {
  font-size: 31px;
  text-shadow: 1px 1px #528a76;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.banner strong {
  border-bottom: 6px solid white;
}

.banner a {
  color: white;
}

.banner_customer_interview_text {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.54);
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  p {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    min-height: 160px;
  }
}

.identity {
  display: flex;
  flex-direction: row;
}
