// Specific CSS for your home-page

.home-body {
  align-items: center;
  justify-content: center;
  h1 {
    text-transform: uppercase;
  }
}

.slogan  {
  color: #1E3051;
  margin-top: 75px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  h3 {
  font-size: 25px;
  margin-bottom: 25px;
  }
}

.titre-temoignages {
  color: #1E3051;
  text-align: center;
  h3 {
  font-size: 25px;
  }
}

.banner {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-landing {
  color: white;
  text-align: center;
  height: 300px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h3 {
  font-size: 31px;
  color: white;
}
.banner-content h1 {
  font-size: 45px;
  text-shadow: 2px 2px #22304e;
  font-weight: bold;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.banner strong {
  border-bottom: 6px solid white;
}

.banner a {
  color: white;
}

.banner_customer_interview_text {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.54);
  font-weight: 300;
  p {
    font-size: 16px;
    min-height: 160px;
  }
}

.identity {
  display: flex;
  flex-direction: row;
}
