.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
// Padding nécessaire pour le navbar
body { padding-top: 3em;
    a, a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
  }
}
