<div class="footer">
  <div class="footer-container">
    <div class="footer-group">
      <span class="footer-group-title">Produit</span>
      <ul>
        <li class="footer-group-list-item">Accueil</li>
        <li class="footer-group-list-item">Prestations</li>
        <li class="footer-group-list-item">Tarifs</li>
      </ul>
    </div>

    <div class="footer-group">
      <span class="footer-group-title">Ressources</span>
      <ul>
        <li class="footer-group-list-item">Aides</li>
        <li class="footer-group-list-item">Donner votre avis</li>
        <li class="footer-group-list-item">Blog</li>
        <li class="footer-group-list-item">Mentions légales</li>
      </ul>
    </div>

    <div class="footer-group">
      <span class="footer-group-title">Entreprise</span>
      <ul>
        <li class="footer-group-list-item">Aide</li>
        <li class="footer-group-list-item">Donner votre avis</li>
        <li class="footer-group-list-item">Blog</li>
        <li class="footer-group-list-item">Mentions légales</li>
      </ul>
    </div>

    <div class="footer-group">
      <div class="footer-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
