<div class="footer">
  <div class="footer-container">
    <div class="footer-group">
      <span class="footer-group-title">Produit</span>
        <div class="footer-group-list-item">Accueil</div>
        <div class="footer-group-list-item">Prestations</div>
        <div class="footer-group-list-item">Tarifs</div>
    </div>

    <div class="footer-group">
      <span class="footer-group-title">Ressources</span>
        <div class="footer-group-list-item">Aide</div>
        <div class="footer-group-list-item">Donner votre avis</div>
        <div class="footer-group-list-item">Blog</div>
        <div class="footer-group-list-item">Mentions légales</div>
    </div>

    <div class="footer-group">
      <span class="footer-group-title">Entreprise</span>

        <div class="footer-group-list-item">A propos</div>
        <div class="footer-group-list-item">Notre équipe</div>
        <div class="footer-group-list-item">Nous rejoindre</div>
        <div class="footer-group-list-item">Nous contacter</div>

    </div>

    <div class="footer-group">
      <div class="footer-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
