<div class="panel panel-initial">
  <h1>Le saviez-vous ?</h1>
  <br>
  <p>Tous les sites internet doivent obligatoirement indiquer les mentions légales, demander le consentement de l’utilisateur pour lire ou déposer un cookie, indiquer les conditions générales de ventes ou d’utilisation (CGV / CGU).</p>
  <p>Le manquement à une des obligations peut être sanctionné jusqu'à :
    <ul>
      <li>1 an d'emprisonnement</li>
      <li>75 000 € d'amende pour les personnes physiques </li>
      <li>375 000 € pour les personnes morales</li>
    </ul>
  </p>
</div>
