
<div class="container">
  <div class="row">
    <div class="card-blog-title">
      <h1>Le blog d'Onorm</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card-blog">
        <h3>Pourquoi fignoler vos CGV ?</h3>
          <p><b>L’UFC-Que Choisir a assigné en justice deux des principaux acteurs des “cars Macron”, Ouibus et Flixbus, leur reprochant des conditions générales “abusives” voire “illicites”, a annoncé mardi l’association de défense des consommateurs.</b></p>

          Les conditions générales de vente (CGV) “recèlent (...) une myriade de clauses qui apparaissent comme pouvant être qualifiées d’abusives et/ou d’illicites au regard des législations nationales et de l’Union européenne”, dénonce l’UFC-Que Choisir dans un communiqué. Au total, 28 clauses problématiques ont été identifiées pour Ouibus, et 43 pour Flixbus.</p>
          <a href="http://www.leparisien.fr/economie/cars-macron-l-ufc-que-choisir-denonce-des-clauses-abusives-13-12-2017-7449729.php">Lire la suite de cet article.</a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card-blog">
        <h3>Alerte sur les CGV</h3>
         <p><b>L’UFC-Que Choisir a assigné en justice deux des principaux acteurs des “cars Macron”, Ouibus et Flixbus, leur reprochant des conditions générales “abusives” voire “illicites”, a annoncé mardi l’association de défense des consommateurs.</b></p>

          Les conditions générales de vente (CGV) “recèlent (...) une myriade de clauses qui apparaissent comme pouvant être qualifiées d’abusives et/ou d’illicites au regard des législations nationales et de l’Union européenne”, dénonce l’UFC-Que Choisir dans un communiqué. Au total, 28 clauses problématiques ont été identifiées pour Ouibus, et 43 pour Flixbus.</p>
          <a href="http://www.leparisien.fr/economie/cars-macron-l-ufc-que-choisir-denonce-des-clauses-abusives-13-12-2017-7449729.php">Lire la suite de cet article.</a>
      </div>
    </div>

    <!-- <div class="col-xs-12 col-sm-4">
      <div class="card-blog">
        <h3>Article 3</h3>
          <p><b>L’UFC-Que Choisir a assigné en justice deux des principaux acteurs des “cars Macron”, Ouibus et Flixbus, leur reprochant des conditions générales “abusives” voire “illicites”, a annoncé mardi l’association de défense des consommateurs.</b></p>

          Les conditions générales de vente (CGV) “recèlent (...) une myriade de clauses qui apparaissent comme pouvant être qualifiées d’abusives et/ou d’illicites au regard des législations nationales et de l’Union européenne”, dénonce l’UFC-Que Choisir dans un communiqué. Au total, 28 clauses problématiques ont été identifiées pour Ouibus, et 43 pour Flixbus.</p>
      </div>
    </div> -->
  </div>
</div>
