<h1>Onorm</h1>
<p>Find me in app/views/pages/home.html.erb</p>






<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>Grâce à Onorm, j'ai pu lancé mon MVP en toute sérénité. Mes mentions légales ont été vérifiées et leur légalité certifiée.</p>
    </div>

    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>Au moment de démarrer ma marketplace, je me suis aperçu que j'avais totalement négligé de m'assurer de la conformité juridique de mes CGV. En quelques clics, Onorm s'est chargé de tout vérifier.</p>
    </div>

    <div class="col-xs-12 col-sm-4 banner_customer_interview_text">
      <p>La dataprivacy devient un élément clé de toute activité en ligne. Grâce à sa technologie et à ses équipes juridiques, Onorm m'accompagne au quotidien pour faire de ces points de vigilance une simple formalité</p>
    </div>
  </div>
</div>
