<div class="container">
  <div class="row">
    <div class="team">
      <br>
      <br>
      <br>
      <h1>Notre équipe hors norme</h1>
    </div>

      <div class="col-xs-12 col-sm-3">
        <div class="banner_customer_interview_text">
          <%= image_tag "Florian.jpg", class: "avatar-extralarge" %>
        </div>

        <div>
          <b>Florian HERLICQ</b>
        </div>

        <div class="title">
          <p>CEO</p>
        </div>
      </div>



      <div class="col-xs-12 col-sm-3">
        <div class="banner_customer_interview_text">
          <%= image_tag "gauthier.jpg", class: "avatar-extralarge" %>
        </div>

        <div>
          <b>Gauthier STRICKER</b>
        </div>

        <div class="title">
          <p>CTO</p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-3">
        <div class="banner_customer_interview_text">
          <%= image_tag "felix.jpg", class: "avatar-extralarge" %>
        </div>

        <div>
          <b>Félix KAING</b>
        </div>

        <div class="title">
          <p>Stagiaire</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="banner_customer_interview_text">
          <%= image_tag "joevin.jpg", class: "avatar-extralarge" %>
        </div>

        <div>
          <b>Joévin CANET</b>
        </div>

        <div class="title">
          <p>Voisin de palier</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
  </div>
</div>




