<div class="container">
  <div class="row">
    <div class="team">
      <h1>Notre équipe</h1>
        <div class="col-xs-12 col-sm-3">
          <div class="banner_customer_interview_text">
              <%= image_tag "Florian.jpg", class: "avatar-extralarge" %>
          </div>

          <div>
            <b>Florian HERLICQ</b>
            <p>CEO</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="banner_customer_interview_text">
              <%= image_tag "gauthier.jpg", class: "avatar-extralarge" %>
          </div>

          <div>
            <b>Gauthier STRICKER</b>
            <p>CTO</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="banner_customer_interview_text">
            <%= image_tag "felix.jpg", class: "avatar-extralarge" %>
          </div>

          <div>
            <b>Félix KAING</b>
            <p>Stagiaire</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="banner_customer_interview_text">
             <%= image_tag "joevin.jpg", class: "avatar-extralarge" %>
          </div>

          <div>
            <b>Joévin CANET</b>
            <p>Voisin de palier</p>
          </div>
        </div>
      </div>
  </div>
</div>




