.btn-medium {
  background-color: #60958c;
  border: 1px solid #999999;
  border-radius: 10px;
  color: white;
}

.btn-medium:hover {
  background-color: #5f6264;
  text-decoration: none;
  color: white;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.round {
  margin: auto;
  margin-top: 8px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
  color: black;
  align-items: center;
  flex-direction: column;
  display: flex;
  h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 0 0;
  }
  h2 {
    font-size: 14px;
    margin: 0 0 0 0;
  }
}
.round:hover {
  text-decoration: none;
}

.transparent.header {
  background: #333;
}
section[role="main"] {
  background: #333;
  color: #fff;
}
section[role="main"] h1 {
  color: #fff;
}
section[role="main"] h2 {
  color: #fff;
}
section[role="main"] h3 {
  color: #fff;
}
.button {
  margin-right: 0.5em;
  border-radius: 4px;
}
ol {
  margin-left: 2em;
}
div#sidebarAd.cleanslate {
  background: #444 !important;
  color: #fff !important;
}
div#sidebarAd.cleanslate .ad-sponsor {
  color: #ccc !important;
}
.zurb-footer-top {
  background: #222;
}

@-webkit-keyframes bigAssButtonPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 50px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangellowPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}

.score {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.green.score { -webkit-animation-name: greenPulse; -webkit-animation-duration: 2s; }
.blue.score { -webkit-animation-name: bluePulse; -webkit-animation-duration: 2s; }
.red.score { -webkit-animation-name: redPulse; -webkit-animation-duration: 2s; }
.magenta.score { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s; }
.orange.score { -webkit-animation-name: orangePulse; -webkit-animation-duration: 2s; }
.orangellow.score { -webkit-animation-name: orangellowPulse; -webkit-animation-duration: 2s; }

.wall-of-scores { text-align: center; margin-top: 2em; margin-bottom: 2em; }

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #5f6265;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-left: 15px;
  height: 75px;
  width: 470px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
  background-color: #D9D9D9;
  color: black;
}

.container-gauge {
  width: 200px;
  text-align: center;
}

.gauge {
  width: 200px;
  height: 200px;
  opacity: 1;
}


