.footer {
  padding: 30px 0 25px;
  border-top: 1px solid #dce0e0;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  background-color: white;
  line-height: 1.5em;
  display: flex;
  bottom: 0;
  color: #000;
  font-family: 'Panamera', sans-serif;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #787878;
  .fa {
    color: #1a237e;
  }
}
.footer-links a {
  color: #787878;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 1002px;
  max-width: 95%;
}

.footer-group {
  width: 25%;
  float: left;
}

.footer-group-title {
  // display: inline-block;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 600;
  color: #1a237e;
}

.footer-group-list-item {
  margin-bottom: 2px;
  line-height: 1.4em;
  font-size: 15px;
  color: #787878;
  list-style: none;
}
