input {
  box-sizing: border-box;
  font-size: 13px;
  vertical-align: top;
  color: black;
}

.wrapper {
  text-align: center;
  position: relative;
  height: 40px;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  padding: 0 30px;
  font-size: 18px;
  width: 60%;
  max-width: 400px;
  height: 40px;
  border: 1px solid darken(white, 30%);
  border-radius: 20px 0 0 20px;
}

.submit {
  cursor: pointer;
  border: none;
  background: url("/assets/loupe.png") no-repeat center center, #4e978c;
  background-size: 20px 20px;
  border-radius: 0 20px 20px 0;
  padding: 15px 25px;
  display: inline-block;
  width: 150px;
  height: 40px;
}

#url-search-error {
  font-size: 18px;
  color: #a94442;
  margin-top: -0.5em;
}
