body {
  color: black;
  font-family: 'Raleway', sans-serif;
  color: #5e6366;
}

h1 {
  text-align: center;
  text-decoration: underline overline;

}


h2 {
  text-decoration: underline;
}

.underlined_text {
      border-bottom: solid 2px #000;
      display: inline;
      padding-bottom: 3px;
}
